{% assign pub = include.pub %}

<article class="__publication_summary">
    <div class="__publication_thumbnail_container">
        <a href="{{ pub.url }}"><img src="{{ pub.thumbnail }}" alt="{{ pub.title | escape }}" class="post-item-image">
        </a>
    </div>
    <div class="__publication_meta_container">
        <h3>
            <a href="{{ pub.url }}">{{ pub.title | escape }}</a>
        </h3>
        {% if pub.authors %}
        <p>
            ✍️
            {% for author in pub.authors %}
            {% if author.scholar %}
            <a href="https://scholar.google.se/citations?user={{ author.scholar }}">
                {{ author.name}}
            </a>
            {% else %}
            {{ author.name }}
            {% endif %}
            {% unless forloop.last %}, {% endunless %}
            {% endfor %}
        </p>
        {% endif %}
        {% if pub.venue %}
        <p>
            🏛️ {{ pub.venue }}
        </p>
        {% endif %}

        {% if pub.arxiv %}
        <p>
            🔗 <a href="{{ pub.arxiv }}">{{ pub.arxiv }}</a>
        </p>
        {% endif %}


        {% if pub.extras %}
        <p>
            🔥 {{ pub.extras }}
        </p>
        {% endif %}
    </div>
</article>